@import "tailwindcss";


@theme {
  --font-display: "Satoshi", "sans-serif";

  --breakpoint-3xl: 1920px;


  --color-primar: rgba(18, 19, 42, 1);
  --color-secondary: rgba(118, 119, 153, 1);
  --color-tertiary: rgba(194, 56, 147, 1);

  /* ... */
}