@import "tailwindcss";


@theme {
  --font-display: "Satoshi", "sans-serif";

  --breakpoint-3xl: 1920px;


  --color-primary: rgba(18, 19, 42, 1);
  --color-secondary: rgba(118, 119, 153, 1);
  --color-tertiary: rgba(194, 56, 147, 1);
  --color-footer-cl: #C23893;


  --scrollbar-width: none; /*  */
  --scrollbar-display: none;
}

#scroll-bar{
  scrollbar-width: none;

}
.scroll-bar{
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}


.image-slider-wrapper {
  width: 100%; 
    height: 150px; 
  overflow: hidden;
  position: relative;
}

.image-slider {
  display: flex;
  width: max-content; 
  animation: slide 20s linear infinite; 
}

.image-slide {
  width: 120px;
  height: 150px; 
  margin-right: 10px; 
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
