@import "tailwindcss";

@theme {
  --font-show: "Poppins", "sans-serif";

  --breakpoint-3xl: 1920px;

  --color-primary: rgba(18, 19, 42, 1);
  --color-secondary: rgba(118, 119, 153, 1);
  --color-tertiary: rgba(194, 56, 147, 1);
  --color-footer-cl: #c23893;

  --breakpoint-2lg: 1026px;

  --scrollbar-width: none; /*  */
  --scrollbar-display: none;
}

#scroll-bar {
  scrollbar-width: none;
}
.scroll-bar {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.image-slider-wrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.image-slider {
  display: flex;
  width: max-content;
  animation: slide 20s linear infinite;
}

.image-slide {
  width: 120px;
  height: 150px;
  margin-right: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-in {
  animation: slide-in 1s ease-out;
}
.animate-slide-inn {
  animation: slide-in .5s ease-out;
}

@keyframes slide-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to{
    transform: scale(1);
    opacity: 1;
  }
}

/* *>*>*>*{
  outline: 2px solid red;
} */

a.active{
  color: white;
  text-decoration: underline;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-pulse {
  animation: pulse 2s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}